.card-grid__title {
    margin: 0 0 48px;
    padding: 0;
    grid-area: title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}
@media screen and (max-width: 1023px) {
    .card-grid__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .card-grid__title {
        margin: 0 0 32px;
        font-size: 32px;
        line-height: 35px;
        padding:0 16px;
    }
}
