.card-grid__image {
    grid-area: image;
    margin: 0;
    padding: 0;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}
@media screen and (max-width: 767px) {
    .card-grid__image {
        padding: 0 0 32px;
    }
}
