.footer__link-section {
    display:flex;
    padding: 0;
    margin: 0;
    gap: 18px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link-section {
        flex-direction:column;
    }
}

