@font-face {
    src: url(./inter/regular/InterRegular.woff2) format('woff2'), url(./inter/regular/InterRegular.woff) format('woff');
    font-family: 'Inter';
    font-weight: normal;
}
@font-face {
    src: url(./inter/bold/Inter-Bold.ttf) format('TrueType');
    font-family: 'Inter';
    font-weight: 700;
}
@font-face {
    src: url(./inter/black/Inter-Black.ttf) format('TrueType');
    font-family: 'Inter';
    font-weight: 900;
}
