.cover {
    padding: 0;
    margin: 0 48px 92px;
    display: flex;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    min-height: 740px;
    /*если указывать min-height, то указать направление столбец и растянуть содержимое вертикально не выходит при помощи стретч 
    Я просто не совсем понимаю, нужно чтобы при добавлении в <section class="cover"> рос вертикально блок или можно, как сейчас при доб*/
}
@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
        margin: 0 0 92px;
    }
}
@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
        margin: 0 0 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 200px;
        margin: 0 0 64px;
    }
}
