.card-grid {
    display: grid;
    padding: 0;
    margin: 0;
    column-gap: 40px;
    box-sizing: border-box;
    grid-template-columns: minmax(min-content,max-content) 1fr;
}
card-grid:last-of-type {
    border: 2px solid orange;
}
@media screen and (max-width: 1279px) {
    .card-grid {
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .card-grid {
        column-gap: 28px;
    }
}
